<td><%= filepicker_url %></td>
<td><%= title %></td>
<td><%= plays %></td>
<td><%= length %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>